<head>
    <title>Chat App</title>
</head>

<body>
<div class="container"
     ng-controller="ChatListCtrl">

    <header>
        <h1>Chat App demo for Chris Scholly</h1>
    </header>

    <main>
        <login-buttons></login-buttons>

        <h2 class="live-users">Users Live</h2>

        <ul>
            <li ng-repeat="user in liveUsers">{{user.username}}</li>
        </ul>

        <div ng-show="$root.currentUser">
            <h2>Chat</h2>

            <form class="new-chat-message"
                  ng-submit="addChatMessage(chatMessage)">
                <input ng-model="chatMessage" type="text" placeholder="Enter chat message"/>
            </form>

            <ul>
                <li ng-repeat="message in messages"><strong>{{message.username}}</strong>: {{message.text}}</li>
            </ul>
        </div>
    </main>
</div>
</body>